.container {
  /* display: flex; */

  display: grid;
  grid-gap: 20px;
  /* grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr; */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: 1fr;
}
.card {
  flex: 1;
}
.bgPersonal {
  background: rgb(248, 248, 248);
}
.shop {
  flex: 1;
}
.title {
  display: block;
  justify-content: left;
  align-items: left;
  text-align: left;
  padding-top: 30px;
  padding-left: 30px;
  margin-bottom: 5px;
}
.grow {
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}
.grow:hover,
.grow:focus {
  transform: scale(1.05);
}
.grow:active {
  transform: scale(0.9);
}
