.welcomeImg {
  background-image: url("cartoon2.png");
  height: 100vh; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
 /* Do not repeat the image */
}
.welcome {
  flex-direction: column;
}

.titleMine {
  font-size: 5em;
}
@media only screen and (max-width: 480px) {
  .titleMine {
  font-size: 2em;
  }
  }


.btn {
  text-align: center;
  color: white !important;
  font-weight: 100;
  border-radius: 2px;
  text-transform: uppercase;
  background: var(--colourBlue)!important ;
  border-width: 3px;
  border-color:white;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary:hover {
  border-width: 4px;
  border-color: white;
}

.whitebck {
  background: rgba(255, 255, 255, 0.8);
  max-width: max-content;
  
}
.colourPrimary{
  color: #5bb381 !important;
}
.colourSecondary{
  color : #CE375C !important;
}
.colourAccent{
  color: #E3B34C !important;
}
.colourBlue{
  color:  #64c3eb !important;
}