.nav {
  position: sticky;
  top: 0;
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
  z-index: 1000;
}
.whiteText{

  color: white !important;

}
.logo {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;

  background: url(logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (max-width: 500px) {
  /* For mobile phones: */
  .small {
    display: none;
  }
}
.colourPrimary{
  color: #5bb381 !important;
}
.colourSecondary{
  color : #CE375C !important;
}
.colourAccent{
  color: #E3B34C !important;
}
.colourBlue{
  color:  #64c3eb !important;
}