.contact-form {
  flex-direction: column;
}
.hidden {
  display: none;
}
.btnC {
  text-align: center;
  color: black;
  font-weight: 100;
  border-radius: 2px;
  text-transform: uppercase;
  background: none;
  border-color: black;
}

.btn-xlC {
  padding: 1rem 2rem;
}

.btn-primaryC:hover {
  border-width: 4px;
  border-color: black;
}
.backgroundImg {

  
    background-image: linear-gradient(to right, #43C6AC , #f8ffae);
  
  /* background-image: url("welcomeImg.jpg");
  height: 450px; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; */
}
/* .notice{
  width: 250px;
} */
.container {
  /* display: flex; */

  display: grid;
  grid-gap: 20px;
  /* grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr; */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: 1fr;
}