.contact-form {
  flex-direction: column;
}
.hidden {
  display: none;
}
.btnC {
  text-align: center;
  color: black;
  font-weight: 100;
  border-radius: 2px;
  text-transform: uppercase;
  background: none;
  border-color: black;
}

.btn-xlC {
  padding: 1rem 2rem;
}

.btn-primaryC:hover {
  border-width: 4px;
  border-color: black;
}

/* .notice{
  width: 250px;
} */
.container {
  /* display: flex; */

  display: grid;
  grid-gap: 20px;
  /* grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr; */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: 1fr;
}
.greyBck {
  background-color: black;
  opacity: 0.2;
}

/* LOADING BAR */

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}